@charset "utf-8";

p {
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.color-nome {
	color: red;
}

.color-hexadecimal {
	color: #ff0000;
}

.color-rgb {
	color: rgb(255, 0, 0);
}

.color-rgba {
	color: rgba(255, 0, 0, .5);
}

.color-hsl {
	color: hsl(0, 100%, 50%);
}

.color-hsla {
	color: hsla(0, 100%, 50%, .5);
}